.cardsAssetContainer {
  display: grid;
  /* grid-template-columns: auto auto auto auto auto auto; */
  grid-template-columns: repeat(auto-fit, 300px);
  align-items: center;
  justify-content: center;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
}